.tag {
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: alpha(black, 0.07);
}

.tag > label {
  margin-left: 6px;
  margin-right: 6px;
}

.osd.error image {
  color: #ff938c;
}

.state_icon {
  border-radius: 99px;
}

.state_icon.error {
  color: var(--error-color);
  background-color: alpha(var(--error-color), .25);
}

.state_icon.warning {
  color: var(--warning-color);
  background-color: alpha(var(--warning-color), .25);
}

.state_icon.neutral {
  color: var(--light-5);
  background-color: alpha(var(--light-5), .25);
}

.state_icon.success {
  color: var(--success-color);
  background-color: alpha(var(--success-color), .25);
}

.state_icon.accent {
  color: var(--accent-color);
  background-color: alpha(var(--accent-color), .25);
}
