.tag {
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: alpha(black, 0.07);
}

.tag > label {
  margin-left: 6px;
  margin-right: 6px;
}

.osd.error image {
  color: #ff938c;
}

.state_icon {
  border-radius: 99px;
}

.state_icon.error {
  color: @error_color;
  background-color: alpha(@error_color, .25);
}

.state_icon.neutral {
  color: @light_5;
  background-color: alpha(@light_5, .25);
}

.state_icon.success {
  color: @success_color;
  background-color: alpha(@success_color, .25);
}
